@page
@using EfContextPooling.Pages
@model EfContextPooling.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
   
</address>

<address>
   
</address>
